<!DOCTYPE html>
<html>
<head>
<title>Todo list</title>
<link rel="stylesheet" media="screen" href="main.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-resource.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.js"></script>
<script src="todo.js"></script>
</head>

<body ng-app="todoApp">

	<div id="main">

		<nav class="{{active}} ng-click="$event.preventDefault()">
		  <a href="#" class="todo" ng-click="active='todo'">ToDo</a> 
		  <a href="#" class="ongoing" ng-click="active='ongoing'">Ongoing</a> 
		  <a href="#" class="done" ng-click="active='done'">Done</a> 
		  <a href="#" class="removed" ng-click="active='removed'">removed</a>
		</nav>

		<div ng-switch="active">
			<div ng-switch-default>
				<h2>Simple todo</h2>
			</div>
			<div ng-switch-when="todo" ng-controller="TodoCtrl">
				<h2>Created tasks</h2>
				<div ng-repeat="task in tasks">
					<h3>
						<a href="#" ng-click="show = !show">{{task.topic}}</a>
					</h3>
					<div class="task-details" ng-show="show">
						<p>id: {{task._id}}</p>
						<p>explanation: {{task.explanation}}</p>
						<p>creation time: {{task.created | date:'dd.MM.yyyy HH:mm:ss'}}</p>
					</div>
				</div>
			</div>

			<div ng-switch-when="ongoing" ng-controller="OngoingCtrl">
				<h2>Started tasks</h2>
				<div ng-repeat="task in tasks">
					<h3>
						<a href="#" ng-click="show = !show">{{task.topic}}</a>
					</h3>
					<div class="task-details" ng-show="show">
						<p>id: {{task._id}}</p>
						<p>explanation: {{task.explanation}}</p>
						<p>creation time: {{task.created | date:'dd.MM.yyyy HH:mm:ss'}}</p>
						<p>start time: {{task.started | date:'dd.MM.yyyy HH:mm:ss'}}</p>
					</div>
				</div>
			</div>
			<div ng-switch-when="done" ng-controller="DoneCtrl">
				<h2>Finished tasks</h2>
				<div ng-repeat="task in tasks">
					<h3>
						<a href="#" ng-click="show = !show">{{task.topic}}</a>
					</h3>
					<div class="task-details" ng-show="show">
						<p>id: {{task._id}}</p>
						<p>explanation: {{task.explanation}}</p>
						<p>creation time: {{task.created | date:'dd.MM.yyyy HH:mm:ss'}}</p>
						<p>start time: {{task.started | date:'dd.MM.yyyy HH:mm:ss'}}</p>
						<p>finish time: {{task.finished | date:'dd.MM.yyyy HH:mm:ss'}}</p>
					</div>
				</div>
			</div>
			<div ng-switch-when="removed" ng-controller="RemovedCtrl">
				<h2>Removed tasks</h2>
				<div ng-repeat="task in tasks">
					<h3>
						<a href="#" ng-click="show = !show">{{task.topic}}</a>
					</h3>
					<div class="task-details" ng-show="show">
						<p>id: {{task._id}}</p>
						<p>explanation: {{task.explanation}}</p>
						<p>removal time: {{task.removed | date:'dd.MM.yyyy HH:mm:ss'}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
